/*Variables Globles*/
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
    /* 1rem  = 10px*/
    --fuente-externa: 'Roboto Slab', serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
li,
a {
    font-family: 'Roboto Slab', serif;
}

body {
    font-size: 16px;
    background-color: #bee4fa;
    
}


h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


h1 span {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B98E0;
}

.encabezado h1{
   color: white;
   text-transform: uppercase;
   text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
    
}

img{
    width: 50rem;
    height: 30rem;
    border-radius: 1.5rem;
    background-color: #fbfbfb;
    margin-top: 1.5rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    
}

.contenedor section{
    display: flex;
    justify-content: center;
}


.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}

.boton:hover {
    background-color: var(--primario);
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .boton {
        width: auto;

    }
}


/* Formulario*/
    .formulario{
        width: 60%;
        margin-top: 2rem;
    }
    p{
        font-size: 1.5rem;
        color: #333333;
        margin: 2rem 0 0 0;
    }
    
    legend{
        font-size: 2rem;
        color: #333333;
        margin: 2rem 0 0 0;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    
    label{
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-top: 1rem;
    }

    .form__fondo{
        
        border-radius: 1.5rem;
        padding: 0.1rem;
        margin: 1.5rem;
    }
    
    input:not([type="submit"]),
    textarea,
    select{
        padding: 1rem;
        display: block;
        width: 100%;
        background-color:white;
        border: 1px solid #e1e1e1;
        border-radius: 1rem;
        border-bottom: 2rem;
    }
    






































